/* Primary project design file */

@import url("/styles/presets.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color presets provided from Figma design file */
  --white: #ffffff;
  --black: #000000;
  --gray-400: #f96464;
  --gray-100: #e1e8ee;
  --blue-950: #00252e;
  --pink-400: #ff52c1;
  --purple-700: rgb(
    104,
    75,
    177
  ); /* The hex code in the Figma file is wrong?? */
  --magenta-400: #e880e8;

  /* Spacing variables */
  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;
  --spacing-700: 56px;
  --spacing-800: 64px;
}

body {
  /* The 'effects' are an image layered over the background color */
  background-image: url("/assets/images/bg-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--purple-700);

  padding: var(--spacing-500);
}

header {
  margin-bottom: 64px;
  .company-logo {
    max-width: 120px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;

  text-align: center;
  color: var(--white);

  width: 100%;

  .illustration-container {
    width: fit-content;

    .illustration-img {
      max-width: 304px;
    }
  }

  .hero-content {
    /* Placeholder */
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .icon-container {
    display: flex;
    flex-direcion: row;
    gap: 16px;
  }
}
