/* Primary project design file */

@import url("/styles/presets.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color presets provided from Figma design file */
  --white: #ffffff;
  --black: #000000;
  --gray-400: #f96464;
  --gray-100: #e1e8ee;
  --blue-950: #00252e;
  --pink-400: #ff52c1;
  --purple-700: rgb(
    104,
    75,
    177
  ); /* The hex code in the Figma file is wrong?? */
  --magenta-400: #e880e8;

  /* Spacing variables */
  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;
  --spacing-700: 56px;
  --spacing-800: 64px;
}

button {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: none;

  color: var(--purple-700);
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.269));

  transition: all 0.1s linear;
}

button:hover {
  cursor: pointer;

  color: var(--white);
  background-color: var(--magenta-400);
}

ion-icon {
  color: white;
  font-size: 24px;
}

body {
  /* The 'effects' are an image layered over the background color */
  background-image: url("/assets/images/bg-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--purple-700);

  padding: var(--spacing-500);
}

/* Styling rules for components based on Mobile-first approach. Media queries
will be used to redesign by screen size (component-based approach). */

header {
  margin-bottom: 64px;
  .company-logo {
    max-width: 120px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;

  text-align: center;
  color: var(--white);

  width: 100%;

  .illustration-container {
    width: fit-content;

    .illustration-img {
      max-width: 304px;
    }
  }

  .hero-container {
    /* Containing the text content (div) and cta button */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .hero-header {
      padding: 0 var(--spacing-300);
    }

    .hero-content {
      /* Containing the text content (Hero + Description) */
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: var(--spacing-500);

  .icon-container {
    display: flex;
    flex-direction: row;
    gap: 16px;

    .icon {
      transition: all 0.1s linear;
    }

    .icon:hover {
      color: var(--pink-400);
    }
  }
}

@media (min-width: 768px) {
  ion-icon {
    font-size: 40px;
  }

  button {
    height: 58px;
    border-radius: 28px;
  }

  body {
    padding: var(--spacing-700);
  }

  main {
    gap: 40px;

    .illustration-container {
      width: fit-content;

      .illustration-img {
        max-width: 608px;
      }
    }

    .hero-container .hero-content {
      padding: 0 var(--spacing-700);

      .hero-header {
        padding: 0 var(--spacing-500);
      }
    }
  }
}

@media (min-width: 1080px) {
  body {
    padding: var(--spacing-500) var(--spacing-800);
    background-image: url("/assets/images/bg-desktop.svg");
  }

  header {
    margin-bottom: var(--spacing-800);
    .company-logo {
      max-width: 200px;
    }
  }

  main {
    flex-direction: row;
    .illustration-container .illustration-img {
      max-width: clamp(31rem, -6.5rem + 55.556vw, 43.5rem);
    }

    .hero-container {
      justify-content: start;
      align-items: start;
      padding-left: var(--spacing-300);

      .hero-content {
        text-align: left;
        padding: 0;
        padding-right: var(--spacing-800);
        gap: 24px;
      }

      .hero-content .hero-header {
        padding: 0;
      }
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
  }
}
